# Arquivos Python
*.pyc
__pycache__/

# Configurações do ambiente virtual
venv/
env/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de banco de dados local
db.sqlite3

# Arquivos de mídia
media/

# Configurações de sistema
*.log
